{% extends "layout.html" %}

{% block title %}Friends Portal | InternIn{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/friend-portal.css') }}">
{% endblock %}


{% block content %}

<section class="header">
	<button><i class="fa-solid fa-arrow-left"></i></button>
	<div class="text">
		<h1>Friend Portal</h1>
		<p>Find like minded students from anywhere</p>
	</div>
</section>
 <section class="searchbar-section">
	<form action="{{ search_friends }}" method="POST">
		<div class="search-section">
			<label for="user_name">Name: </label>
			<input type="text" name="user_name" placeholder="Promise Tinubu">
		</div>
		<div class="search-section">
			<label for="user_name">School: </label>
			<input type="text" name="user_name" placeholder="Southern Miss">
		</div>
		<div class="search-section">
			<label for="user_name">Major: </label>
			<select class="js-example-basic-single" name="state" title="Search by Majors">
				<option value="AL">Alabama</option>
					...
				<option value="WY">Wyoming</option>
			</select>
		</div>

		<button type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search </button>
	</form>
</section>
<section class="users">
	<div class="users-grid">
		{% if users %}
		{% for user in users%}
			<div class="user-card">
				<div class="user-card-head">
					<div class="name-logo">
						{{user | initials}}
					</div>
					<div class="names">
						<h3>{{user.firstName}} {{user.lastName}}</h3>
						<p>{{user.username}}</p>
					</div>
				</div>
				<div class="user-card-body">
					<p>School: {{user.school or 'Not Assigned'}}</p><hr>
					<p>Major: {{user.major or 'Not Assigned'}}</p><hr>
					<p>Year: {{user.year or  'Not Assigned'}}</p>
				</div>
				<div class="view-profile">
					<a href="{{url_for('friends.limited_profile', username=user.username)}}">View Profile</a>
				</div>
			</div>
		{%endfor%}
	{%else%}
		<div class="centralized-message">
			<h1><span style="color: red;">ERROR!</span> No Users Found!</h1>
		</div>
	{%endif%}
	</div>

</section>
{%endblock%}
{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
{%endblock%}