{% extends "layout.html" %}

{% block title %}Friends Portal | InternIn{% endblock %}
{% block extra_css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/friend-portal.css') }}">
{% endblock %}


{% block content %}

<section class="header">
	<button title="Back" onclick="window.location.href='{{url_for('friends.friendsList')}}'"><i class="fa-solid fa-arrow-left"></i><span hidden>i</span></button>
	<div class="text">
		<h1>Friend Portal</h1>
		<p>Find like minded students from anywhere</p>
	</div>
</section>
 <section class="searchbar-section">
   <form action="{{ url_for('friends.search_users') }}" method="POST">
	   <div class="search-section">
		   <label for="name">Name: </label>
		   <input type="text" name="name" id="name" placeholder="Promise Tinubu" value="{{ request.form.name or '' }}">
	   </div>
	   <div class="search-section">
		   <label for="school">School: </label>
		   <input type="text" name="school" id="school" placeholder="Southern Miss" value="{{ request.form.school or '' }}">
	   </div>
	   <div class="search-section">
		   <label for="major">Major: </label>
		   <select class="js-example-basic-single" name="major" id="major" title="Search by Majors">
			   <option value="">-- Select Major --</option>
			   {% for m in majors %}
				   <option value="{{ m }}" {% if request.form.major == m %}selected{% endif %}>{{ m }}</option>
			   {% endfor %}
		   </select>
	   </div>
	   <button type="submit"><i class="fa-solid fa-magnifying-glass"></i> Search </button>
   </form>
</section>
<section class="users">
	<div class="users-grid">
		{% if users %}
		{% for displayed_user in users%}
			<div class="user-card">
				<div class="user-card-head">
					<div class="name-logo">
						{{displayed_user | initials}}
					</div>
					<div class="names">
						<h3>{{displayed_user.firstName}} {{displayed_user.lastName}}</h3>
						<p>{{displayed_user.username}}</p>
					</div>
					{%if user.is_friend_with(displayed_user)%}
					<div class="isfriends">
						Friends
					</div>
					{%endif%}
				</div>
				<div class="user-card-body">
					<p>School: {{displayed_user.school or 'Not Assigned'}}</p><hr>
					<p>Major: {{displayed_user.major or 'Not Assigned'}}</p><hr>
					<p>Year: {{displayed_user.year or  'Not Assigned'}}</p>
				</div>
				<div class="view-profile">
					<a href="{{url_for('friends.limited_profile', username=displayed_user.username)}}">View Profile</a>
				</div>
			</div>
		{%endfor%}
	{%else%}
		<div class="centralized-message">
			<h1><span style="color: red;">ERROR!</span> No Users Found!</h1>
		</div>
	{%endif%}
	</div>

</section>
{%endblock%}
{% block extra_js %}
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script>
		$(document).ready(function() {
			$('#major').select2({
			placeholder: "-- Select Major --",
			allowClear: true
			});
		});
	</script>
{%endblock%}